body {
 background-color: #EDEDED;
 font-family: "Roboto Condensed", sans-serif;
 margin: 30px;
}
p { 
color: blue;
 font-family: "Bungee", sans-serif;
 margin: 30px;
} 
h3{ color: orange; }
#wrapper {
  width: 780px;
  margin: 0 auto;
}